/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700;800&display=swap');

/*===== BASE =====*/

:root {
    --Ver-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'League Spartan', sans-serif;
}


/*==================== Desktop Screen ====================*/
@media screen and (min-width:1440px) {
    .socia-proof-container {
        background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
        background-repeat: no-repeat;
        background-position: top 0% right 100%, top 120% left 100%;
        padding: 90px 150px;
    }

    .social-proof-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 270px;
    }

    .heading {
        color: var(--Ver-Dark-Magenta);
        font-weight: 800;
        line-height: 1;
        font-size: 52px;
    }

    .para {
        color: var(--Dark-Grayish-Magenta);
        font-weight: 500;
        line-height: 1.4;
        margin-top: 20px;
        font-size: 20px;
    }

    .review-para {
        color: var(--Ver-Dark-Magenta);
        font-weight: 700;
        font-size: 15px;
    }

    .social-proof-review-star {
        background-color: var(--Light-Grayish-Magenta);
        border-radius: 10px;
        padding: 10px 60px;
        margin-top: 20px;
    }

    .star-sec-flex-desktop{
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 25px;
    }

    .social-proof-review-content {
        background-color: var(--Ver-Dark-Magenta);
        border-radius: 10px;
        padding: 35px;
        margin-top: 20px;
    }

    .social-proof-review-content-name-flex {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .img-width {
        width: 15%;
        border-radius: 30px;
    }

    .figcaption-heading {
        font-size: 15px;
        font-weight: 800;
        color: var(--White);
        line-height: 1.5;
    }

    .figcaption-span {
        color: var(--Soft-Pink);
    }

    .social-proof-review-content-name-para {
        color: var(--White);
        margin-top: 20px;
        line-height: 1.3;
    }

    .social-proof-review-content-sec-flex {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        margin-top: 30px;
    }

    .transformX-left-30px{
        transform: translateX(-30px);
    }

    .transformX-left-60px{
        transform: translateX(-60px);
    }

    .transform-review-30px{
        transform: translateY(30px);
    }

    .transform-review-60px{
        transform: translateY(60px);
    }

}

/*==================== Mobile Screen ====================*/
@media screen and (max-width:375px) {
    .socia-proof-container {
        background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
        background-position: top 0% right 100%, top 120% left 100%;
        background-repeat: no-repeat;
        padding: 40px 25px;
    }

    .social-proof-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .heading {
        color: var(--Ver-Dark-Magenta);
        font-weight: 800;
        line-height: 1;
    }

    .para {
        color: var(--Dark-Grayish-Magenta);
        font-weight: 500;
        line-height: 1.4;
        margin-top: 15px;
    }

    .review-para {
        color: var(--Ver-Dark-Magenta);
        font-weight: 700;
        font-size: 12px;
    }

    .social-proof-review-star {
        background-color: var(--Light-Grayish-Magenta);
        border-radius: 10px;
        padding: 10px 60px;
        margin-top: 20px;
    }

    .social-proof-review-content {
        background-color: var(--Ver-Dark-Magenta);
        border-radius: 10px;
        padding: 35px;
        margin-top: 20px;
    }

    .social-proof-review-content-name-flex {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .img-width {
        width: 15%;
        border-radius: 30px;
    }

    .figcaption-heading {
        font-size: 15px;
        font-weight: 800;
        color: var(--White);
        line-height: 1.5;
    }

    .figcaption-span {
        color: var(--Soft-Pink);
    }

    .social-proof-review-content-name-para {
        color: var(--White);
        margin-top: 20px;
        line-height: 1.5;
    }

    .social-proof-review-content-sec-flex {
        margin-top: 30px;
    }
}
